﻿
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Index";
}

<h1 class="bg-info text-white">All Roles</h1>
<a asp-action="Create" class="btn btn-secondary">Create a Role</a>


<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th class="text-center">
                ID
            </th>
            <th class="text-center">
                Name
            </th>
            <th class="text-center">
                Users
            </th>
            <th class="text-center">
                Delete
            </th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                <td i-role="@role.Id"></td>
                <td class="text-center">
                    <a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@role.Id">Update</a>
                </td>
                <td class="text-center">
                    <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
