﻿@model RoleEdit

<h1 class="bg-info text-white">Update a Role</h1>
<a asp-action="Index" class="btn btn-secondary">Back</a>
<div asp-validation-summary="All" class="text-danger"></div>



<form method="post">

    <input type="hidden" name="RoleName" value="@Model.Role.Name" />
    <input type="hidden" name="RoleId" value="@Model.Role.Id" />

    <h3>Users in @Model.Role.NormalizedName role</h3>

    @if (Model.Members.Count() == 0)
    {
        <p>There are no users in this role</p>
    }
    else
    {
        @foreach (User user in Model.Members)
        {
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="@user.Id" id="delete-@user.Id" name="DeleteIds">
                <label class="form-check-label" for="delete-@user.Id">
                    @user.UserName
                </label>
            </div>
        }
    }



    <h3>Users not in @Model.Role.NormalizedName role</h3>

    @if (Model.NonMembers.Count() == 0)
    {
        <p>There are no users to add to this role</p>
    }
    else
    {
        @foreach (User user in Model.NonMembers)
        {
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="@user.Id" id="add-@user.Id" name="AddIds">
                <label class="form-check-label" for="add-@user.Id">
                    @user.UserName
                </label>
            </div>
        }
    }

<hr />
    <button type="submit" class="btn btn-primary mb-2">Update </button>
</form>



